<h1>Sign Up Below:</h1>
<form method="post" action="/registrations"
  <label for="email">Email</label>
  <input type="text" id="email" name="email">
  <label for="password_digest">Password</label>
  <input type="text" id="password_digest" name="password_digest">
  <input type="Submit" value="Sign Up">
</form>
