<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to Hawaiian Hiking Trails</h1>
    <h3>Sign up Here Please</h3>

  </body>

  <form method="post" action="/login">
    <label for="email">Email</label>
    <input type="text" id="user[email]" name="user[email]">
    <label for="password_digest">Password</label>
    <input type="text" id="user[password_digest]" name="user[password_digest]">
    <input type="Submit" value="Sign Up">
  </form>
</html>
