<% @trails.each do |trail|%>
<br>
  <a href="/trails/<%=trail.id%>"> trail <%=trail.name%></a>
  <br>
<%end%>
  <br>
  <br>
<form action="/account" method="get">
  <input type="submit" value="Home">
</form>
