<h1> Enter the information about your new trail down below</h1>

<form action='/trails' method='post'>
  <label for='name'>Name</label>
  <input type='text' id='name' name='name'>
  <label for='length'>Length</label>
  <input type='text' id='length' name='length'>
  <label for='duration'>Duration</label>
  <input type='text' id='duration' name='duration'>
  <label for='location'>Location</label>
  <input type='text' id='location' name='location'>
  <label for='difficulty'>Difficulty</label>
  <input type='text' id='difficulty' name='difficulty'>
  <input type="submit" value="submit"
</form>
