<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">


    <!-- #is not displaying page there must be an error with loading the page. Ask for help. -->
  </head>
  <body id="page-top">
    <%if Helpers.is_logged_in?(session)%>
      <h1>Welcome <%=@user.email%></h1>
      <form action="/account/details" method="post">
      <label>create a new trail:</label>
      <br>
      <label>Trail name:</label>
      <input  type="text" id="trail[name]" name="trail[name]"></input>
      <label>Trail length:</label>
      <input  type="text" id="trail[length]" name="trail[length]"></input>
      <label>Trail duration:</label>
      <input  type="text" id="trail[duration]" name="trail[duration]"></input>
      <label>Trail location:</label>
      <input  type="text" id="trail[location]" name="trail[location]"></input>
      <label>Trail difficulty:</label>
      <input  type="text" id="trail[difficulty]" name="trail[difficulty]"></input>
      <input type="submit" value="Create Trail">
      </form>
    <%end%>

    <% if !Helpers.is_logged_in?(session)%>
      <h4>You Must <a href="/">Log In</a> to View Your Account</h4>
    <%end%>

  </body>
  <a href="/logout">Log Out</a>
</html>
