<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">


    <!-- #is not displaying page there must be an error with loading the page. Ask for help. -->
  </head>
  <body id="page-top">
    <%if Helpers.is_logged_in?(session)%>
      <h1>Welcome <%=@user.email%></h1>
      <form action="/account/details" method="post">
      <label>create a new trail:</label>
      <br>
      <label for=trail[name]>Trail name:</label>
      <input  type="text" id="user[trail][name]" name="user[trail][name]"></input>
      <label for="trail[length">Trail length:</label>
      <input  type="text" id="user[trail][length]" name="user[trail][length]"></input>
      <label for="trail[duration]">Trail duration:</label>
      <input  type="text" id="user[trail][duration]" name="user[trail][duration]"></input>
      <label for="trail[location]">Trail location:</label>
      <input  type="text" id="user[trail][location]" name="user[trail][location]"></input>
      <label for="trail[difficulty]">Trail difficulty:</label>
      <input  type="text" id="user[trail][difficulty]" name="user[trail][difficulty]"></input>
      <input type="submit" value="Create Trail">
      </form>
    <%end%>

    <% if !Helpers.is_logged_in?(session)%>
      <h4>You Must <a href="/">Log In</a> to View Your Account</h4>
    <%end%>

  </body>
  <a href="/logout">Log Out</a>
</html>
